@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-saturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

body {
    /* background still need to be fixed. */
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-color: var(--dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-gray);
}

.image-avatar {
    border-radius: 50%;
    border: 6px solid white;
    margin-bottom: 20px;
    margin-top: 90px;
    position: relative;
}

#container {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 20vh;
}

.card {
    background-color: white;
    background-image: url(images/bg-pattern-card.svg);
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.2);
    position: relative;
}

.card__background {
    border-radius: 12px 12px 0 0;
    display: block;
    width: 100%;
    padding: 0;
    position: absolute;
}

.name span {
    font-weight: 700;
    color: rgb(60, 60, 60);
    margin-right: 5px;
}

.name p {
    font-size: 0.875rem;
    margin-top: 5px;
    margin-bottom: 20px;
}

hr {
    border: none;
    height: 0.031rem;
    background-color: hsl(0, 0%, 90%);
}

.stats {
    margin: 20px 0;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.stats > div {
    margin: 0 10px 0;
    padding: 10px;
}

.stats span {
    font-weight: 700;
    color: rgb(60, 60, 60);
    margin-right: 5px;
}

.stats p {
    font-size: 0.563rem;
    letter-spacing: 3px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: black;
}


.attribution a { 
    color: hsl(228, 45%, 44%); 
}